<!DOCTYPE html>

<html >
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport"content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        <link rel="stylesheet" href="/static/css/style.css">        

        <title>Main Profile</title>
    </head>

    <body>
        <div id="login">
            <form class="card" >

                <div class="card-header">
                    <h2>Main Profile</h2>
                </div>

                <div class="card-content">

                    <div class="card-content-area">
                        <div class="alert">Name: {{.Name}}</div>   
                    </div>

                    <div class="card-content-area">
                        <div class="alert">Email: {{.Email}}</div>    
                    </div>

                    <div class="card-content-area">
                        <div class="alert">Telephone: {{.Telephone}}</div>  
                    </div>

                </div>

                <div class="card-footer">               
                    <a href="/enterProfileInformation" >Edit</a>
                    <a href="http://localhost:9090/logout?redirect=http://localhost:8080/login">Logout</a>
                </div>
            </form>
        </div>
    </body>
</html>